body
{
}

.picture
{
	border: 1px solid black;
	position: absolute;
	width: 100%;
	height: 100%;
}

.photo
{
	border: 1px solid red;
	vertical-align: center;
	text-align: center;
}

.smaller {
	width: 40%;
	text-align: center;
}

p a
{
	font-size: 1em;
}

.imageTitle
{
	text-align: center;
	font-size: 0.8em;
}

.description, .tags
{
	font-size: 0.6em;
	padding: 2%;
}